body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.board-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  position: absolute;
  margin: auto;
  left: 30%;
  top: 30%;
  padding: 5rem;
}

.board-table {
  text-align: center;
  cursor: default;
}

.board-cell {
  border: 1px solid red;
  padding: 1rem;
}

.board-cell:hover, .board-cell.active:hover {
  background-color: rgb(240, 196, 0)
}

.board-cell.active {
  background-color: turquoise;
}

.button-next {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.4rem 1rem;
}